@font-face {
    font-family: 'Rubik';
    src: local('Rubik'), url(./fonts/Rubik-VariableFont_wght.ttf) format('truetype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

body {
    font-family: 'Rubik', sans-serif;
    font-size: clamp(16px, 1vw, 22px);
    line-height: 1.5;
    background-color: #ecf2f6;
    scroll-behavior: smooth;
 }


:root  {
    --primary: #89BBFE;
    --secondary: #ACEDFF;
    --tertiary: #CAE5FF;
    --quaternary: #C38D94;
    --quinary: #75ad8b;
    --secondary-text: #616161;
}

p, small {
 color: var(--secondary-text);
}